<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 - @ViewData["Title"]</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/libs/ionicons/css/ionicons.min.css">

    @RenderSection("Styles", required: false)

    <!-- Theme style -->
    <link rel="stylesheet" href="~/libs/admin-lte/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/libs/admin-lte/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


</head>
<body class="hold-transition skin-blue sidebar-mini fixed">

    <!-- Site wrapper -->
    <div class="wrapper">

        @await Html.PartialAsync("_Header")

        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        @await Html.PartialAsync("_NavBar")

        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])

            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- =============================================== -->
        <!-- Page footer. -->
        @await Html.PartialAsync("_Footer")

        <!-- =============================================== -->
        <!-- Control Sidebar -->
        @await Html.PartialAsync("_SideBar")
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/libs/jquery/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/libs/bootstrap/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)

    <!-- SlimScroll -->
    <script src="~/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/libs/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/libs/admin-lte/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/libs/admin-lte/js/demo.js"></script>
    
    <!-- ASP.NET site script -->
    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree()
        })
    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>