@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="login-box-body">
    <p class="login-box-msg">
        Thank you for confirm your email. <br />
        Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>
<!-- /.login-box-body -->