@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<div class="login-box-body">
    <p class="login-box-msg">Associate your @Model.LoginProvider account.</p>
    <p class="text-info">
        You've successfully authenticated with <strong>@Model.LoginProvider</strong>.
        Please enter an email address for this site below and click the Register button to finish
        logging in.
    </p>
    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="form-group has-feedback">
            <input asp-for="Input.Email" type="email" class="form-control" readonly placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span asp-validation-for="Input.Email" class="help-block"></span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
</div>
<!-- /.login-box-body -->