@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="login-box-body">
    <p class="login-box-msg">Enter your email</p>
    <form method="post">
        <div class="form-group has-feedback">
            <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span asp-validation-for="Input.Email" class="help-block"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                        
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Reset</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <a asp-page="./Login">I already have a membership</a><br>
    <a asp-page="./Register" class="text-center">Register a new membership</a>
</div>
<!-- /.login-box-body -->
   