@page
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset confirmation";
}

<div class="login-box-body">
    <p class="login-box-msg">Please check your email to reset your password.</p>
</div>
<!-- /.login-box-body -->
    
