@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="login-box-body">
    <p class="login-box-msg">Register a new membership</p>
    <form method="post">
        <div class="form-group has-feedback">
            <input asp-for="Input.FullName" type="text" class="form-control" placeholder="Full name">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <span asp-validation-for="Input.FullName" class="help-block"></span>
        </div>
        <div class="form-group has-feedback">
            <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span asp-validation-for="Input.Email" class="help-block"></span>
        </div>
        <div class="form-group has-feedback">
            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span asp-validation-for="Input.Password" class="help-block"></span>
        </div>
        <div class="form-group has-feedback">
            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Retype password">
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            <span asp-validation-for="Input.ConfirmPassword" class="help-block"></span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="form-group has-feedback">
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input asp-for="Input.IsAgree" type="checkbox" required data-msg="You must agree terms for registering."> I agree to the <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
                <!-- /.col -->
            </div>
            <span asp-validation-for="Input.IsAgree" class="help-block"></span>
        </div>
    </form>

    <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
            <i class="fa fa-facebook"></i> Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-social btn-google btn-flat">
            <i class="fa fa-google-plus"></i> Sign up using Google+
        </a>
    </div>
            

    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">I already have a membership</a>
</div>
<!-- /.form-box -->


