@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="login-box-body">
    <p class="login-box-msg">
        Your password has been reset. <br />
        Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>
<!-- /.login-box-body -->